<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "users" %>
<% end %>

<div class="users">
  <% if @users.present? %>
    <% @users.each do |user| %>
      <%= link_to user_path(user.id) do %>
        <div class="Users-Container">
          <img class="Users-img" src="https://cdn-icons-png.flaticon.com/128/3177/3177440.png"/>
          <div class="User-Text-Container">
          <h2 class="Username"><%= user.name %></h2>
          <h3 class="Post-Container">Posts: <%= user.posts_counter.zero? ? '0' : user.posts_counter %></h3>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>There are no users available.</p>
  <% end %>
</div>

